PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=securewalletex

JWT_SECRET=SecureWalletSuperSecret2026
JWT_EXPIRES_IN=15m

REFRESH_SECRET=RefreshSecret2026
REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173
NODE_ENV=development